html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Arial', 'Helvetica', sans-serif;
  max-width: 100vw;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: $body-background;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
